{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="auth-container">
  <div class="auth-form">
    <h2>Iniciar sesión en Ikiguía</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="auth-btn">Iniciar Sesión</button>
    </form>
    <p>¿No tienes cuenta? <a href="{% url 'registro' %}">Registrarse</a></p>
  </div>

  <div class="auth-image login-bg">
    <h3>Tu futuro comienza hoy con Ikiguía</h3>
    <img src="{% static 'img/login_img.jpeg' %}" alt="Imagen motivacional">
  </div>
</div>
{% endblock %}
