{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="auth-container">
  <div class="auth-form">
    <h2>Comienza tu camino con Ikiguía</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="auth-btn">Registrarme</button>
    </form>
    <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar sesión</a></p>
  </div>

  <div class="auth-image registro-bg">
    <h3>Tu futuro comienza hoy con Ikiguía</h3>
    <img src="{% static 'img/registro_img.jpeg' %}" alt="Imagen motivacional">
  </div>
</div>
{% endblock %}
